/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 02-dic-2016, 14:59:02
    Author     : Migue
*/

body{
    background-color: #f7d098;/*COLOR DE FONDO DE LA PANTALLA*/
}
div.fichaArticulo{
    background-color: white;
    border-radius: 5%;
}



#caja{
    margin: 0.5em;
    position: relative;
    top: 50%;
    alignment-adjust: central; 
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: top;
    text-align: right;
    width:350px;
    height:350px;padding:10px;border:1px solid #aaaaaa;
    background-size: contain;

}